---
import Layout from "../layouts/Layout.astro";
import franklins from "../data/franklins.json";

const pageTitle = "Biler i norge";
---

<Layout pageTitle={pageTitle}>
  <div class="container shadow-effect mx-auto p-6 md:p-12 mb-10">
    <h1 class="tracking-tight">Biler i Norge</h1>
    <p>
      Her er en oversikt over kjente Franklin-biler i Norge. Hvis du vet om en Franklin vi ikke har registrert her, gi oss en lyd!</p>
    <ul class="pt-4">
      {
        franklins.map((franklin) => (
          <li class="text-lg">
            <a href={`/cars/${franklin.id}`} class="card-link">
              {franklin.year} {franklin.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
