---
import Layout from "../layouts/Layout.astro"

const pageTitle = "Biler i norge"
---

<Layout pageTitle={pageTitle}>
    <h1>Biler i Norge</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum et aliquid porro sit ullam nesciunt velit ad neque atque, fuga voluptatum veniam veritatis placeat ipsam similique officiis sapiente ducimus ab.</p>
</Layout>