---
import Layout from "../layouts/Layout.astro";
import { CustomProvider } from "rsuite";
import MainPageHero from "../components/MainPageHero.astro";
import MainPageText from "../components/MainPageText.astro";

const seoData = {
  title: "Norsk Franklinregister – Historie og informasjon om H. H. Franklin-biler",
  description: "Norsk Franklinregister er et samlingssted for entusiaster av H. H. Franklin biler i Norge. Finn informasjon, historikk, bilmodeller og kontaktmuligheter.",
  keywords: ["Franklin biler", "H. H. Franklin", "Norsk Franklinregister", "klassiske biler", "bilhistorie", "luftkjølte motorer", "bilklubber Norge", "veteranbiler"],
  image: "https://norskfranklinregister.no/images/FranklinLogo.png",
  type: "website" as const
};
---

<Layout {...seoData}>
  <CustomProvider>
    <section class="outer-container">
      <MainPageHero />
      <MainPageText />
    </section>
  </CustomProvider>
</Layout>
