---
import Layout from "../layouts/Layout.astro";
import { CustomProvider } from "rsuite";
import MainPageHero from "../components/MainPageHero.astro";
import MainPageText from "../components/MainPageText.astro";

const pageTitle = "Norsk Franklinklubb";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout pageTitle={pageTitle}>
  <CustomProvider>
    <section class="outer-container">
      <MainPageHero />
      <MainPageText />
    </section>
  </CustomProvider>
</Layout>
