---
import { CustomProvider } from "rsuite";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <CustomProvider>
    <form
      action="https://formspree.io/f/xpwdggnn"
      method="POST"
      enctype="multipart/form-data"
      class="container mx-auto shadow-effect space-y-5"
    >
      <h2 class="text-2xl font-bold mb-4 text-gray-800">
        Dele kunnskap eller stille spørsmål?
      </h2>
      <p>
        Vi ønsker å vere et nyttig supplement til den amerikanske klubben, så
        del gjerne erfaringer og kunnskap med oss.
      </p>
      <p class="pb-4">Du kan også sende inn bilder av din Franklin på skjemaet under.</p>

      <div>
        <label class="block text-gray-700 font-medium mb-1" for="name">
          Navn
        </label>
        <input
          type="text"
          name="name"
          id="name"
          required
          class="w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Ditt navn"
        />
      </div>

      <div>
        <label class="block text-gray-700 font-medium mb-1" for="email">
          E-post
        </label>
        <input
          type="email"
          name="email"
          id="email"
          required
          class="w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="din@e-post.no"
        />
      </div>
      <label class="block text-gray-700 font-medium mb-1">
        Last opp bilde
      </label>
        <input type="file" name="upload" class="w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
      <div>
        <label class="block text-gray-700 font-medium mb-1 mt-2.5" for="message">
          Melding
        </label>
        <textarea
          name="message"
          id="message"
          rows="4"
          required
          class="w-full p-2.5 resize-y focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Skriv en melding, f.eks. informasjon om bilen, historie, eller spørsmål"
        ></textarea>
      </div>

      <button
        type="submit"
        class="w-full"
      >
        Send skjema
      </button>
    </form>
  </CustomProvider>
</Layout>

<style>
  button {
    color: white;
    font-size: large;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: var(--form-field-radius);
    border: 1px solid hsl(220 50 40);
    transition: background 0.5s ease-in-out;
    background: hsl(244 100 50);
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 4px 6px rgba(0, 0, 0, 0.08),
  }
  
  button:hover {
    background: hsl(244 90 50);
  }

  form {
    border-radius: var(--form-radius);
    padding: var(--form-padding);
  }

  label {
    font-size: medium;
  }

  input,
  textarea {
    border-radius: var(--form-field-radius);
    border: 1px solid var(--color-zinc-400);
    background-color: white;
  }
</style>