---
import { getImage } from "astro:assets";
import image from "/src/images/Franklin1929II.jpg";

const optimizedImage = await getImage({ src: image });
---

<footer class="bg-slate-50">
  <section class="w-full">
    <div class="w-full my-10 pt-4 md:pt-12 text-center text-slate-900">
      <p class="font-bold">Kontakt:</p>
      <p>Knut Erik Bjerkeseth</p>
      <p>Tlf: 905 73 302</p>
      <p>
        e-post: <a href="mailto:kebjerkeseth@gmail.com"
          >kebjerkeseth@gmail.com</a
        >
      </p>
    </div>
  </section>
  <div class="w-full text-center pb-4 font-bold align-bottom text-slate-900">
    <h4>Copyright © 2025 Norsk Franklinregister | Nettsider utviklet av <a href="https://cominoweb.no">Comino Web AS</a></h4>
  </div>
</footer>
