---

---
<footer class="mt-10 w-full flex-col bg-gradient-to-br from-slate-50 to-slate-400 border-t-2 border-slate-500 font-sans">
    <div class="w-full pl-16 py-10 text-left text-lg text-slate-900">
        <p class="font-bold">Kontakt:</p>
        <p>Knut Erik Bjerkeseth</p>
        <p>Tlf: 905 73 302</p>
        <p>e-post: <a href="mailto:kebjerkeseth@gmail.com">kebjerkeseth@gmail.com</a></p>
    </div>
    <div class="w-full text-center py-4 text-lg font-bold align-bottom text-slate-900">Copyright © 2025 Norsk Franklinregister</div>
</footer>