---
import { getImage } from "astro:assets";
import image from "/src/images/Franklin9BII.jpeg";

const optimizedImage = await getImage({ src: image });
---

<section class="grid grid-rows-1 lg:grid-cols-2 w-full h-fit mb-4">
  <div class="w-9/10 p-4">
    <img
      src={optimizedImage.src}
      alt="Franklin 9B"
      class="mx-auto image-shadow"
    />
  </div>
  <div class="w-9/10 px-4 mx-auto content-center lg:order-first shadow-effect bg-yellow-50/70">
    <h2>Norsk Franklinregister</h2>
    <p>
      Velkommen til Norsk Franklinregister, en nettside dedikert til de unike og
      innovative bilene fra H.H. Franklin Manufacturing Company.
    </p>
    <p>
      Franklin-bilene, produsert i USA fra 1902 til 1934, var kjent for sin
      luftkjølte motor og lette konstruksjon. Dette gjorde dem til et særpreget
      innslag i bilhistorien, og de har i dag en liten, men dedikert gruppe
      entusiaster i Norge.
    </p>
    <p>
      Denne nettsiden er ment å være et samlingssted for norske
      Franklin-entusiaster, og vil inneholde informasjon til nytte og glede for
      både eiere og interesserte.
    </p>
  </div>
</section>