---
import { getImage } from 'astro:assets';
import logo from '../images/FranklinLogo.png';

const optimizedLogo = await getImage({ src: logo });
---

<header class="w-full">
  <nav class="nav-links w-full bg-transparent text-slate-950 py-8 px-10 z-99">
    <ul class="flex flex-col md:flex-row justify-between items-center">
      <div class="">
        <img
          src={optimizedLogo.src}
          alt="H. H. Franklin Cars Logo"
          class="w-fit max-h-40"
        />
      </div>
      <div
        class="flex space-x-8 text-lg lg:text-2xl font-semibold content-center"
      >
        <li><a href="/">Hjem</a></li>
        <li><a href="/history">Historikk</a></li>
        <li><a href="/franklininnorway">Biler i Norge</a></li>
        <!-- <li><a href="/kontakt">Kontakt</a></li> -->
      </div>
    </ul>
  </nav>
</header>
<style is:global>
  a {
    color: #2e4053;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #1a1d23;
    text-decoration: underline;
  }

  a:active {
    color: #0a0a0a;
  }

  a:visited {
    color: #343a40;
  }
</style>
