---
import "../styles/global.css";
import "rsuite/dist/rsuite.min.css";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
import "@fontsource-variable/josefin-sans";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="layout-container">
      <NavBar />
      <slot />
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  * {
    font-family: "Josefin Sans Variable", sans-serif;
    background-color:;
  }

  .layout-container {
    max-width: 1280px; /* eller annan fast breidde */
    margin: 0 auto;
    padding: 0 1rem; /* evt. padding for luft på sidene */
  }

  p {
    font-size: 1.2rem;
  }

  .card-link {
    font-size: 1rem;
  }

  .shadow-effect {
    background: linear-gradient(145deg, #edeff1, #ffffff);
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 4px 6px rgba(0, 0, 0, 0.08),
      0 10px 20px rgba(0, 0, 0, 0.04),
      -8px -8px 16px #ffffff;
    transition: box-shadow 0.3s ease;
  }

  .shadow-effect:hover {
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.15),
      0 10px 15px rgba(0, 0, 0, 0.1),
      0 20px 30px rgba(0, 0, 0, 0.07);
  }

  .form-shadow {
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 4px 6px rgba(0, 0, 0, 0.08),
      0 10px 20px rgba(0, 0, 0, 0.04),
      -8px -8px 16px #ffffff;
  }

  .image-shadow {
    border: 1px solid #9c9e9f;
    box-shadow: 8px 8px 16px #9c9e9f;
  }
</style>
